<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- font-awesome icons -->
    <!-- <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'> -->


    <title>Document</title>
    <style>
        select {
            border: solid #29AC80 !important;
            border-radius: 8px !important;
        }

        button {
            border-radius: 8px !important;
        }

        #my_table_hd {
            background-color: #29AC80;
            color: white;
        }

        .my_table {
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.30);
            ;
        }

        #btn_rechercher {
            background-color: #29AC80 !important;
            border: none;
        }

        .cours-1 {
            background-color: #4FA3E3 !important;

            padding: 2px !important;
        }

        .cours-2 {
            background-color: #BB4BA8 !important;

            padding: 2px !important;
        }

        .my_table_hd_elmt {
            width: 70px !important;
        }
    </style>
</head>

<body>
    
    <div class="container col-lg-6">
        <h2 class="text_center" style="text-align: center;">Emploi du temps</h2>

        <form action="" method="post">
            <label for="salle">Choisissez la salle</label>
            <select name="salle" id="salle" class="form-control mb-2">
                <option value="">D1</option>
                <option value="">D2</option>
                <option value="">D3</option>
            </select>
            <label for="filiere">Choisissez la filière</label>
            <select name="filiere" id="filiere" class="form-control mb-2">
                <option value="">IG1</option>
                <option value="">IG2</option>
                <option value="">IG3</option>
            </select>
            <button id="btn_rechercher" type="submit" class="btn btn-success fo" style="margin-top: 10px;">
                Rechercher</button>
        </form>
    </div>
    <div class="container col-lg-10 table-responsive  mb-0">

        <table class="my_table mt-5 table table-bordered">
            <thead>
                <tr id="my_table_hd">
                    <th>

                        <div class="my_table_hd_elmt">Horaire</div>
                    </th>
                    <th>
                        <div class="my_table_hd_elmt">Lundi</div>
                    </th>
                    <th>
                        <div class="my_table_hd_elmt">Mardi</div>
                    </th>
                    <th>
                        <div class="my_table_hd_elmt">Mercredi</div>
                    </th>
                    <th>
                        <div class="my_table_hd_elmt">Jeudi</div>
                    </th>
                    <th>
                        <div class="my_table_hd_elmt">Vendredi</div>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>7h-8h</td>
                    <td rowspan="3" class="cours-1" style="background-color: #4FA5E4;">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">
                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>

                    <td rowspan="3" class="cours-1" style="background-color: #4FA5E4;">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>
                    <td rowspan="3" class="cours-1" style="background-color: #4FA5E4;">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>
                    <td rowspan="3" class="cours-1" style="background-color: #4FA5E4;">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>
                    <td rowspan="1"></td>
                </tr>
                <tr>

                    <td>8h-9h</td>
                    <td rowspan="5" class="cours-2">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>9h-10h</td>

                </tr>
                <tr>
                    <td>10h-11h</td>

                </tr>
                <tr>
                    <td>11h-12h</td>

                </tr>
                <tr>
                    <td>12h-13h</td>
                    <td rowspan="3" class="cours-1">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>

                    <td rowspan="3" class="cours-1">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>
                    <td rowspan="3" class="cours-1">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>
                    <td rowspan="3" class="cours-1">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>13h-14</td>

                </tr>
                <tr>
                    <td>14h-15h</td>

                </tr>
                <tr>
                    <td>15h-16h</td>

                    <td rowspan="4" class="cours-2">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4" class="cours-2">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>
                    <td rowspan="2" class="cours-1">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4" class="cours-2">
                        <div class="container">
                            <div class="row rounded-5">
                                <div class="row p-2 text-light m-0 fw-bold"
                                    style="background-color: whitesmoke; color: black !important;">

                                    IG3-ARI
                                </div>
                                <div class="row p-2 text-light m-0 fw-bold">
                                    Ireep
                                    Service réseaux
                                    7h-10h
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>16h-17h</td>

                </tr>
                <tr>
                    <td>17h-18h</td>

                </tr>
                <tr>
                    <td>18h-19h</td>

                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>